<div class="row">
    <!-- Imagen del producto -->
    <div class="col-md-6">
        <img src="/assets/tienda/{{producto.imagen}}" alt="{{ producto.nombre }}" class="img-fluid" />
    </div>

    <!-- Detalles del producto -->
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title">{{ producto.nombre }}</h2>
                <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                <p class="card-text"><strong>Puntuación:</strong> {{ producto.puntuacion }} / 5</p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>