{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
   
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
     
    
    <style>
        .contenido {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 5px;
        }
        
        li {
            display: inline-block;
            list-style: none;
            padding-right: 10px;
        }
        h4{
            text-align: right;
        }
        a{text-decoration:none;}
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EXAMEN 2ª Evaluación - DAW2</a>
        
    </nav>

    <div class="contenido">
        {%block enlace%}{%endblock%}
        <h2 class="display-6">{%block titulo %}{%endblock%}</h2>
        <br>

        {% if mensaje %}
        <div class="jumbotron">{{mensaje}} </div>{%endif%} {%block contenido %}{%endblock%}

    </div>
</body>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</html>