{% extends 'base.html' %}
{%block titulo %}<h2>Lista de Categorías</h2> {%endblock%}
<br><br>

{%block contenido %}
<a href="{% url 'crear_producto' %}" class="btn btn-primary">Nuevo Producto</a>
<br><br><br>
<table class="table">
    
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
       
        
    </tr>
    {% for c in categorias %}
    <tr>
        <td>{{c.nombre}} </td>
        <td>{{c.descripcion}}</td>
        <td><a href="{% url 'ver_productos' c.nombre %}" class="btn btn-primary">Ver Productos</td>
    </tr>
    {% endfor %}
    
</table>

{%endblock%}

