{% extends 'base.html' %}
{%block enlace %}
<h4><a href="{% url 'categorias'%}">Back</a> </h4>
<br>
{%endblock%}

{%block titulo %}<h2>Lista de Productos Por Categoría</h2> {%endblock%}


{%block contenido %}
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        
    </tr>
    {% for p in productos %}
    <tr>
        <td>{{p.nombre}}</td>
        <td>{{p.descripcion}}</td>
        <td>{{p.precio}}</td>
        <td><a href="{% url 'eliminar_producto' p.idProducto %}" class="btn btn-primary">Eliminar</td>
        <td><a href="{% url 'editar_producto' p.idProducto %}" class="btn btn-primary">Editar</td>
    </tr>
    {% endfor %}
   
</table>
{%endblock%}