.formulario{
    background: red;
    padding: 30px;
    /*padding: 10px 0 40px 20px;*/ /*sentido agujas del reloj empezando en las 12.*/
    /*padding: 10px 50px;  ambos en vertical y luego horizontal */
    /*padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;*/
}

.formulario_input{
    padding: 6px, 10px;
    width: 100%;
    background: black;
    color: red;
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background: red;
    color: white;
    width: 50%;

}
