#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#cajanegra {
    height: 50px;
    background-color: black;
    width: 100%;
    color: whitesmoke;
}

h3 {
    text-align: center;
    font-style: italic;
    letter-spacing: 3px;
}

h1,h2{
    text-align: center;
}