{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Incidencias</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Encabezado (Header) -->
    <header>
        <h1>GESTIÓN DE INCIDENCIAS</h1>
    </header>

    <!-- Contenido Principal -->
    <main>
        <img id="imgfix"src="{% static 'imagenes/fixPC.png' %}" alt="Logo">
        {% block content %}{% endblock %}
    </main>

    


    <!-- Pie de Página (Footer) -->
    <footer>
        <h4>COPYRIGHT © 2025</h4>
    </footer>

</body>
</html>
