{% extends "gestion_inc/base.html" %}
{% load static %}
{% block content %}
<div class="card p-4 shadow-lg">
    <div class="salir-container">
        <a href="{% url 'login' %}">
            <img src="{% static 'imagenes/exit.png' %}" alt="Salir" class="salir-img"  style="width:30px">
        </a>
    </div>

    <h2 class="text-center">Listado de Incidencias</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número de Incidencia</th>
                <th>Fecha</th>
                <th>Email del Profesor</th>
                <th>Ordenador</th>
                <th>Descripción</th>
                <th>Resuelta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for incidencia in incidencias %}
            <tr>
                <td>{{ incidencia.numero }}</td>
                <td>{{ incidencia.fecha }}</td>
                <td>{{ incidencia.profesor.email }}</td>
                <td>{{ incidencia.numero_ordenador }}</td>
                <td>{{ incidencia.descripcion }}</td>
                <td>
                    {% if incidencia.resuelta %}
                        <span class="badge badge-success">SI</span>
                    {% else %}
                        <span class="badge badge-danger">NO</span>
                    {% endif %}
                </td>
                <td>
                    {% if incidencia.resuelta %}
                        <a href="{% url 'detalles_incidencia' incidencia.numero %}" class="btn btn-info">Detalles</a>
                    {% else %}
                        <a href="{% url 'resolver_incidencia' incidencia.numero %}" class="btn btn-warning">Resolver</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay incidencias asignadas a este laboratorio.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
