<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">Lista de Personas</h2>
  
    <!-- Lista de nombres -->
    <ul class="list-group mb-4">
      <li *ngFor="let name of obtenidos" (click) = "deleteName(name)"class="list-group-item">
        {{ name }}
      </li>
    </ul>
  
    <!-- Botones -->
    <div class="text-center">
      <button class="btn btn-success me-2" style="color: white;"><a routerLink='/input'>Añadir Persona</a></button>
        <button class="btn btn-danger" (click)="clearList()">Limpiar Lista</button>
    </div>
  </div>
  