/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el footer quede abajo */
}

/* Estilo del Header */
header {
    background-color: #3498db; /* Azul */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

/* Contenido principal */
main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
    padding: 20px;
    text-align: center;
}

/* Estilo del Footer */
footer {
    background-color: #2c3e50; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

#imgfix{
    width: 100px;
}
