<h4>MEDIA</h4>
<div class="todo caja">
    <div id="primero" class="caja" >
        <img class="imagen" src="">
        <h5 class="card-title" ></h5>
    </div>
    <div id="cuerpo">
        <table class="tabla">
            <tr>
          
                <td >
                 
                    <div id="imagenes" class="caja">
                        <img src='' class="img" alt="..." >
                        <div>
                            <br>

                            <h5 class="card-title" ></h5>



                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>
<br>

<h4>SUMARIO</h4>

<div class="todo caja" >
   
            <div id="unosolo" >
            
            <h3 class="card-title">NAME: </h3>
            <table id="tSumario">
            <tr>
            <td>
            <h5>DESCRIPTION: </h5>
            <h5>GENDER: </h5>
            <h5>BIRTH YEAR:</h5>
            </td>
            <td>
          
            <h5>EYE COLOR: </h5>
            <h5>HAIR COLOR: </h5>
            <h5>SKIN COLOR: </h5>
            </td>
            <td>
             <h5>HEIGHT: </h5>
            <h5>MASS: </h5>
            <h5>HOMEWORLD: </h5>
            </td>
            </tr>
            </table>

            </div>
           
</div>
<br><br>
 