<div *ngIf="serie; else noSerie">
    <h2>{{ serie.titulo }}</h2>
    <img src="assets/Imagenes/{{serie.imagen}}" alt="{{ serie.titulo }}" />
    <div>
        <p><strong>Plataforma:</strong> {{ serie.plataforma }}</p>
        <p><strong>Sinopsis:</strong> {{ serie.sinopsis }}</p>
    </div>
  </div>
  
  <ng-template #noSerie>
    <div class="no-serie">
      <h2>Serie no encontrada</h2>
      <p>Lo sentimos, no se encontró la información de la serie que estás buscando.</p>
    </div>
  </ng-template>
  